div.header
  img(src="./assets/images/farm-logo.svg", alt="logo").header__logo
  ul.header__link-wrapper
    li.header__link-wrapper__link 
      a(href="/index.html") Home
    li.header__link-wrapper__link 
      a(href="/about.html") About
    li.header__link-wrapper__link Reviews
    li.header__link-wrapper__link Blog
    li.header__link-wrapper__link Products
  button Contact Us